


<!DOCTYPE html>
<head>
   <title>Login</title>

   <style>


   #app {


   }

   h5 {

    font-size: 10pt;
    text-align: center;
    font-weight: bold;
    color: black;
   }

   ul {
     list-style-type: none;
     padding: 0;
   }

   li {
     display: inline-block;
     margin: 0 10px;
   }

   a {
     color: #42b983;
   }
   </style>

   <script src="https://unpkg.com/vue/dist/vue.js"></script>
   <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
   <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
   <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
</head>

<body>

   <div id="app">
    <v-app id="inspire">
      <v-container id='back' fluid fill-height fixed>

        <v-layout column>

        <v-flex sm4 offset-sm4 fixed>

        <v-card raised absolute id='form'>
          <v-toolbar flat color ='cyan darken-3'>

          <v-spacer></v-spacer>
          <v-toolbar-title>Survey System</v-toolbar-title>
          <v-spacer></v-spacer>

          </v-toolbar-items>

        </v-toolbar>

            <br />

            <!--<h5> Welcome to the Survey System!</h5>-->


            <v-flex xs8 offset-sm2 fixed>
            <v-text-field
               label="zID"
               v-model="username"
               required
               placeholder="z1234567"
            ></v-text-field>
            </v-flex>

            <v-flex xs8 offset-sm2 fixed>

            <v-text-field
               label="Password"
               v-model="password"
               required
               type="password"
               placeholder="***********"
            ></v-text-field>

            <v-btn color = 'blue' block autofocus @keydown.prevent.enter.native="getFormValues()" @click.prevent="getFormValues()">Login</v-btn>
            </v-flex>

            <br/>

       </v-card>
       </v-flex>
      </v-layout>

  </v-container>

  <v-card>
  <v-alert info dismissible
               error
               v-model="alert"
               transition="scale-transition"
               block
              >
               Invalid username and password combination!
      </v-alert>
   </v-card>
  </v-app>
  </div>


  <script>

      document.getElementById("back").style.backgroundImage = "url('static/blue_background.jpg')";
      document.getElementById("form").style.backgroundImage = "url('static/back_2.png')";

      var vm = new Vue({
         el: '#app',
         delimiters: ["[[", "]]"],
         data: {
            username: '',
            password: '',
            alert: false
         },
         methods: {

             getFormValues: function() {
                axios.post('/api/auth/gen', {
                  username: this.username,
                  password: this.password
                })
                .then(function (response) {
                /*
                  document.querySelector('#errormsg').innerText = response.data.role;
                  if (response.data.role == 'Student') {
                     window.location.replace("/student");
                  } else if (response.data.role == 'Admin') {
                     window.location.replace("/admin");
                  } else {
                     window.location.replace("/staff");
                  }
                */
                    console.log(response.data);
                    var token = response.data.token;
                    sessionStorage.setItem('token', token);
                    sessionStorage.setItem('user', vm.username);
                    axios.post('/login', {
                        token: token
                    })
                    .then(function (response) {
                        sessionStorage.setItem('role', response.data);
                        window.location.href = response.data;

                        //vm.$router.push({ path: response.data })
                        // document.querySelector('#errormsg').innerText = localStorage.getItem('token')
                    })
                })
                .catch(function(error) {
                   vm.alert = true;
                });
            }
         }
     })
  </script>

</body>
