<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="creativeinspiration.css" />

<title>All existing Surveys</title>
</head>

<body>
<div id="page">
		
        <div id="header">
        	<div id="headerTitle">List of All Existing Surveys</div>
            <div id="headerSubText">Accessed by the admin.</div>
            
        </div>

<!-- -the start of the bar! -->        
        <div id="bar">

        	<div class="navLink"><a href="ADmin_operation_main_page">Return</a></div>

      </div>
      
<!-- -the  start of the content -->      
      
        <div class="contentTitle">
  <h1>All Surveys: </h1></div>

        <div class="contentText">
          <p><div class="navLink"><a href="Survey_creation_edit_page.html">Add new survey</a><div class="navLink"><a href="Individual_View_edit_page.html">Existing ones</a></p>
          
          </div>
          <div class="navLink">
            <p>All existing surverys are: </p>

<!-- To print all survey line by line  -->    

          {% if all_users %}
          {% for user in all_users %}
        <a href = "#"> user</a>
          {% endfor %}
          {%else%}
          There are currently no Surveys 
          {% endif %}


</div>
</div>

      
        <div class="contentText"></div> 
         
</div>
        <div id="footer">Developed by Something</div>
</body>
</html>
