
<!DOCTYPE html>
<head>
   <title>Edit Question</title>

    <style>

    hr.style14 {
      border: 0;
      height: 1px;
      background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    }


  </style>


   <!-- <link rel="stylesheet" href="style.css"> -->
   <!-- <script src="https://vuejs.org/js/vue.js"></script> -->
   <!-- <script src="https://unpkg.com/vue"></script> -->
   <script src="https://unpkg.com/vue/dist/vue.js"></script>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
   <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
   <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>

</head>

  <div id="app">
  <template>
    <v-app id="inspire">
      <v-app id="tool_bar" toolbar footer>

    <!--           navigation drawer definition              -->
    <v-navigation-drawer
      temporary
      v-model="drawer"
      dark
      overflow
    >
      <v-list class="pa-1">
        <v-list-tile avatar>
          <v-list-tile-avatar>
            <img src="{{ url_for('static', filename='img/admin_profile.png', _external=True) }}"/>
          </v-list-tile-avatar>
          <v-list-tile-content>

            [[user_ID]]
            <small v-if= "role === '/admin'">Admin</small>

            <!-- back to login page -->
          </v-list-tile-content>
        </v-list-tile>
      </v-list>

      <v-list class="pt-0" dense>
        <v-divider></v-divider>
        <!-- this is to link side icons -->
        <v-list-tile v-for="item in items" :key="item.title" :href= "item.href">
          <v-list-tile-action>
            <v-icon>[[item.icon]]</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>[[item.title]]</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>

      <v-btn ripple
             fixed
             bottom
             block
             color='red'
             dark
             @click = funcLogout()>Logout</v-btn>

    </v-navigation-drawer>


    <!--           Tool bar code and definition              -->
      <v-toolbar app class="cyan darken-3" dark fixed app>

        <v-btn icon class="hidden-xs-only" :href= "'/admin/questions/view/'+this.page">
            <v-icon>arrow_back</v-icon>
          </v-btn>

        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title>Edit Question</v-toolbar-title>
      </v-toolbar>

    <!--           Dash board content                -->
    <main>

      <v-content>
        <br />
        <v-container xs2 elevation-3>
       	<!-- message -->
       	<v-layout column>

        <br />
       	<h5>[[msg]]</h5>

        <hr class="style14">

        <br />
          <v-flex xs10 offset-sm1>
          <v-text-field
            name="input-7-1"
            label="Question Title"
            v-model = "q_struct.title"
          ></v-text-field>
        </v-flex>

        <br />

        <hr class="style14">
        <br />
        <br>

        <v-list>
          <v-list-tile @click="">
            <v-list-tile-title>Question Type</v-list-tile-title>
            <v-list-tile-sub-title v-if="q_properties.q_type == 1">Multiple Choice</v-list-tile-sub-title>
            <v-list-tile-sub-title v-if="q_properties.q_type == 2">Text</v-list-tile-sub-title>
          </v-list-tile>
        </v-list>
        <!-- <v-select

              v-bind:items="q_type"
              item-text="title"
              item-value="val"
              v-model="q_properties.q_type"
              single-line

        ></v-select>

      </v-flex> -->

        </br>



        <div v-if="q_properties.q_type == 1">

        <v-layout column>
          <v-list>
          <v-list-tile avatar v-for="option in q_properties.added_option" v-bind:key="option.title">

              <v-list-tile-title>[[option.title]]</v-list-tile-title>

            <v-btn color="red" flat @click.native= rem(option.title)>Delete</v-btn>

          </v-list-tile>
        </v-list>

            <v-flex xs3 offset-sm1>
            <v-dialog v-model="dialog" persistent width="50%">
            <v-btn color="primary" dark slot="activator">Add option</v-btn>


            <v-card>
              <v-card-title>
                <span class="headline">Option adding</span>
              </v-card-title>
              <v-card-text>
                <v-container grid-list-md>
                  <v-layout wrap>

                      <v-text-field label="Please add option" multi-line v-model = q_properties.curr_option></v-text-field>
                  </v-layout>
                </v-container>
                <small>please fill out option</small>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" flat @click.native="dialog = false">Close</v-btn>
                <v-btn color="blue darken-1" flat @click.native= add()>Add</v-btn>
              </v-card-actions>

              <v-alert info dismissible
              error
               icon="new_releases"
               v-model="alert_pop"
               transition="scale-transition">
               Please check back
            </v-alert>

            </v-card>
          </v-dialog>

        </v-layout>
      </v-flex>
        <br />
        <hr class="style14">

        <br />
        <v-btn color="blue" @click.native= check()>Submit Question</v-btn>

        </div>
        <div v-else>

          <hr class="style14">
          <br />
          <v-btn color="blue" @click.native= check()>Submit Question</v-btn>

        </div>


        </v-layout>
        </v-container>

      </v-content>



    </main>
      <v-card>
      <v-alert info dismissible
          error
          icon="new_releases"
          v-model="alert_final"
          transition="scale-transition">
          Please check if all options are inputted correctly
      </v-alert>
    </v-card>
      <v-footer app class = "cyan darken-3" >
       <v-spacer></v-spacer>
      <span class="white--text">T09B-Something</span>

      </v-footer>




    </v-app>
    </v-app>
    </template>

  </div>


<script>

  var app = new Vue({

    el: '#app',

    delimiters: ["[[", "]]"],

    data: {

        q_type:[

        {title:"Multiple Choice",val: 1 },
        {title:"Short Answer",val: 2}
        ],

        user_ID: sessionStorage.user,

        role: sessionStorage.role,

        alert_final: false,

        alert_pop: false,

        dialog: false,

        q_struct: [],
        q_properties: {

          curr_input_init: null,

          //this defines current desired typoe of question
          //1 == MC, 2 == text form
           q_type: '',
           q_ID: '',
           added_option: [],
           curr_option: null

        },

        msg2: 'Question Title: ',

        msg3: 'Question type: ',

        msg4: 'Please select the identity of this question: ',

        msg5: "please choose to edit options to this question:",

        drawer:false,

        //icons to be displaced in drawer
        items: [

          { title: 'Dashboard', icon: 'dashboard',href:'/admin' },
          { title: 'Surveys', icon: 'book',href:'/admin/surveys' },
          { title: 'Questions ', icon: 'assignment', href:'/admin/questions' },
          { title: 'Metric', icon: 'assignment',href:'/admin/metric' }

        ],
        page: '',
        right: null,

        url:'static/staff_profile.jpg',

        //TODO: discussion
        msg:'Edit created question '

    },
    mounted() {
      var last = document.URL.substring(document.URL.lastIndexOf("/") + 1, document.URL.length);
      this.page = last;
      axios.get(
        '/api/question/'+last,
        {headers: {
          'Authorization': 'Bearer ' + sessionStorage.token,
        }}
      )
      .then((response) => {
        // console.log(response.data);
        this.q_struct = response.data;
        for (var i = 0; i < app.q_struct.chID.length; i++) {
          app.q_properties.added_option[i] = {ID: app.q_struct.chID[i],title:app.q_struct.cho_con[i]};
        }
        if (this.q_struct.cho_num == 0) {
          this.q_properties.q_type = 2;
        } else {
          this.q_properties.q_type = 1;
        }
      })
    },
    methods: {
        link(n){

          window.location.replace(n)

        },

        add(n){

          if(this.q_properties.curr_option == null) {

            app.alert_pop = true;

          }else{

            let curr = 1;

            let x = 0;

            for(x in app.q_properties.added_option){

                curr += 1;

            }

              app.q_properties.added_option.push({

                  ID: -1,

                  title: app.q_properties.curr_option

                })
              app.dialog = false;
              app.q_properties.curr_option = null;

          }

        },
        rem(n){

        //   let counter = 0;
         //
        //  for(option in this.q_properties.added_option){
         //
        //     if (option.title == n){
         //
        //         this.q_properties.added_option.splice(counter,1);
         //
        //     }
        //     counter++;
        //  }
         for (var i = 0; i < this.q_properties.added_option.length; i++) {
           if (this.q_properties.added_option[i].title == n) {
             this.q_properties.added_option.splice(i,1);
           }
         }

        //   if(n == 1){
        //
        //   this.q_properties.added_option.splice(0,1);
        //
        //   let counter = 1;
        //
        //   for(x in this.q_properties.added_option){
        //
        //     this.q_properties.added_option[x] = {ID: -1,title:this.q_properties.added_option[x].title};
        //
        //     counter++;
        //
        //   }
        //
        //   }else{
        //
        //     //pop an element
        //     this.q_properties.added_option.splice(n - 1,1);
        //
        //     let counter = 1;
        //
        //     for(x in this.q_properties.added_option){
        //
        //
        //       let counter = 1;
        //
        //     for(x in this.q_properties.added_option){
        //
        //       this.q_properties.added_option[x] = {ID: counter,title:this.q_properties.added_option[x].title};
        //
        //     counter++;
        //
        //     }
        //
        //   }
        //
        // }

      },
      check(){

        if(
          (app.q_properties.q_type === 1 && app.q_properties.added_option[0] == null)

          && (app.q_properties.curr_input_init == '' || app.q_properties.curr_input_init == null)

          || app.q_properties.q_type === ''

          ){

          app.alert_final = true;


        }else{
          var arr_con = [];
          for (var key in app.q_properties.added_option) {
            if (app.q_properties.added_option.hasOwnProperty(key)) {
              arr_con.push(app.q_properties.added_option[key].title);
            }
          }
          console.log(arr_con);
          var arr_ID = [];
          for (var key in app.q_properties.added_option) {
            if (app.q_properties.added_option.hasOwnProperty(key)) {
              arr_ID.push(app.q_properties.added_option[key].ID);
            }
          }
          console.log(arr_ID);

          axios.post(
               '/admin/questions/edit/'+app.q_struct.qID, {
                 question_name: app.q_struct.title,
                 question_type: app.q_struct.qtype,
                 choice_content: arr_con,
                 choice_id: arr_ID
               }
             )
             .then((response) => {
               window.location.href = response.data;
             })

        }


      },
        funcLogout: function (event) {
         sessionStorage.removeItem('token');
         sessionStorage.removeItem('user');
         axios.get(
            '/logout',
         )
         .then((response) => {
            window.location.href = response.data;
         })
      }

    }

})


</script>
