

<!DOCTYPE html>
<head>
   <title>Question Pool</title>

    <style>

    hr.style14 {
      border: 0;
      height: 1px;
      background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    }


  </style>

   <!-- <link rel="stylesheet" href="style.css"> -->
   <!-- <script src="https://vuejs.org/js/vue.js"></script> -->
   <!-- <script src="https://unpkg.com/vue"></script> -->
   <script src="https://unpkg.com/vue/dist/vue.js"></script>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
   <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
   <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>

</head>



<body>

  <div id="app">
    <v-app id="inspire">
      <v-app id="tool_bar" toolbar footer>

    <!--           navigation drawer definition              -->
    <v-navigation-drawer
      temporary
      v-model="drawer"
      dark
      overflow

    >
      <v-list class="pa-1">
        <v-list-tile avatar>
          <v-list-tile-avatar>
            <img src="{{ url_for('static', filename='img/admin_profile.png', _external=True) }}" />
          </v-list-tile-avatar>
          <v-list-tile-content>


            <!-- back to login page -->
            [[user_ID]]
            <small v-if= "role === '/admin'">Admin</small>

          </v-list-tile-content>
        </v-list-tile>
      </v-list>
      <v-list class="pt-0" dense>
        <v-divider></v-divider>
        <!-- this is to link side icons -->
        <v-list-tile v-for="item in items" :key="item.title" :href="item.href">
          <v-list-tile-action>
            <v-icon>[[item.icon]]</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>[[item.title]]</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>

      <v-btn ripple
             fixed
             bottom
             block
             color='red'
             dark
             @click = funcLogout()>Logout</v-btn>


    </v-navigation-drawer>


    <!--           Tool bar code and definition              -->
      <v-toolbar class="cyan darken-3" dark fixed app>
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title>Question Pool</v-toolbar-title>
      </v-toolbar>
<!-- Dashboard Content -->
      <main>
         <v-content>
          <br/>
          <v-container xs2 elevation-3>
            <v-layout column>
              <br />
              <h5>Select a question to edit it</h5>
                <hr class="style14">
                <br />
                  <v-layout row>
                    <v-flex xs12>
                      <v-list two-line>

                    <div v-if="questions[0] ==null">

                          <v-list-tile>
                          <v-list-tile-content>
                            <v-list-tile-title>Empty</v-list-tile-title>
                          </v-list-tile-content>
                      </v-list-tile>
                    </div>

                    <div v-else>
                        <template v-for="question in questions">
                        <v-divider></v-divider>
                          <v-list-tile :href="'/admin/questions/view/'+[[question.qID]]">
                              <v-list-tile-content>
                                <v-list-tile-title v-html="question.qID"></v-list-tile-title>
                                <v-list-tile-sub-title v-html="question.title"></v-list-tile-sub-title>
                              </v-list-tile-content>
                            </v-list-tile-action>
                          </v-list-tile>
                          <v-divider></v-divider>
                        </template>

                      </div>

                      </v-list>
                    
                    <v-flex xs6>
                      <v-btn color="primary" href="/admin/questions/create">Add Question</v-btn>
                    </v-flex>

                    </v-flex>
                  </v-layout>

               </v-layout>
            </v-content>

              </v-container>

      </main>
      <v-footer app class = "cyan darken-3" >
        <v-spacer></v-spacer>
         <span class="white--text">T09B-Something</span>
      </v-footer>
    </v-app>
    </v-app>
  </div>

<script>

  var app = new Vue({

    el: '#app',

    delimiters: ["[[", "]]"],

    data: {

        user_ID: sessionStorage.user,

        role: sessionStorage.role,

        msg:'Please select a question below.',

        //TODO: type defines the type and state of a question, which 1 == normal state,2== genertic, 3== deleted optional question
        questions: [],

        drawer:false,

        //icons to be displaced in drawer
        items: [

            { title: 'Dashboard', icon: 'dashboard',href:'/admin' },
            { title: 'Surveys', icon: 'book',href:'/admin/surveys' },
            { title: 'Questions ', icon: 'assignment', href:'/admin/questions' },
            { title: 'Metric', icon: 'assignment',href:'/admin/metric' }

           ],
        logout_href: "#",

        right: null,

        url:'static/staff_profile.jpg'


    },

    mounted() {
  		axios.get(
  			'/api/question/',
  			{headers: {
  				'Authorization': 'Bearer ' + sessionStorage.token,
  			}}
  		)
  		.then((response) => {
  			this.questions = response.data.questions
  			// Vue.set(vm.questionPool, response.data.questions)
  		})
  	},
   methods: {
      funcLogout: function (event) {
         sessionStorage.removeItem('token');
         axios.get(
            '/logout',
         )
         .then((response) => {
            window.location.href = response.data;
         })
      }
   }


  })


</script>
</body>
