<!DOCTYPE html>
<head>
   <title>Survey List</title>

    <style>

    hr.style14 {
      border: 0;
      height: 1px;
      background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
      background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    }


    </style>


   <!-- <link rel="stylesheet" href="style.css"> -->
   <!-- <script src="https://vuejs.org/js/vue.js"></script> -->
   <!-- <script src="https://unpkg.com/vue"></script> -->
   <script src="https://unpkg.com/vue/dist/vue.js"></script>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
   <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
   <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>

</head>



<body>

  <div id="app">
    <v-app id="inspire">
      <v-app id="tool_bar" toolbar footer>

    <!--           navigation drawer definition              -->
    <v-navigation-drawer
      temporary
      v-model="drawer"
      dark
      overflow
      absolute
      clipped
    >
      <v-list class="pa-1">
        <v-list-tile avatar>
          <v-list-tile-avatar>
            <img src="{{ url_for('static', filename='img/admin_profile.png', _external=True) }}" />
          </v-list-tile-avatar>
          <v-list-tile-content>

            [[user_ID]]
            <small v-if= "role === '/student'">Student</small>

          </v-list-tile-content>
        </v-list-tile>
      </v-list>
      <v-list class="pt-0" dense>
        <v-divider></v-divider>
        <!-- this is to link side icons -->
        <v-list-tile v-for="item in items" :key="item.title" :href="item.href">
          <v-list-tile-action>
            <v-icon>[[item.icon]]</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>[[item.title]]</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>

  <v-btn ripple
             fixed
             bottom
             block
             color='red'
             dark
             @click = funcLogout()>Logout</v-btn>
    </v-navigation-drawer>


    <!--           Tool bar code and definition              -->
      <v-toolbar class="cyan darken-3" dark fixed app>
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title>Edit Surveys</v-toolbar-title>
      </v-toolbar>

    <!--           Dash board content                -->
      <main>
        <v-content>
          <br />
        <v-container xs2 elevation-3>
          <v-layout column>
        <!-- questions pool -->
            <br />

            <h5>Please select a survey below to see its results.</h5>
            <hr class="style14">
            <br />

              <v-layout row>
                <v-flex xs12>
                  <v-list two-line>

                  <div v-if="surveys[0] ==null">

                          <v-list-tile>
                          <v-list-tile-content>
                            <v-list-tile-title>Empty</v-list-tile-title>
                          </v-list-tile-content>
                      </v-list-tile>
                    </div>

                    <div v-else>
                    <template v-for="survey in surveys">
                      <v-list-tile :href="'/student/metric/'+[[survey.sID]]">
                          <v-list-tile-content>
                            <v-list-tile-title v-html="survey.sID"></v-list-tile-title>
                            <v-list-tile-sub-title v-html="survey.name"></v-list-tile-sub-title>
                          </v-list-tile-content>
                        </v-list-tile-action>
                      </v-list-tile>
                      <v-divider></v-divider>
                    </template>

                    <div>
                  </v-list>
                </v-flex>
                </v-layout>
              </v-layout>

              </v-container>
              <br />
              </v-content>

      </main>
      <v-footer app class = "cyan darken-3">
        <v-spacer></v-spacer>
        <span class="white--text">T09B-Something</span>
        </v-footer>
    </v-app>
    </v-app>
  </div>

<script>

  var app = new Vue({

    el: '#app',

    delimiters: ["[[", "]]"],

    data: {

        user_ID: sessionStorage.user,

        role: sessionStorage.role,

        //TODO: the questions deleted will be noted in the backend ? or all needs to be handled by the front end
        msg:'Please select a question below.',

        //TODO: type defines the type and state of a question, which 1 == normal state,2== genertic, 3== deleted optional question
        surveys: [],
        toLoad: [],
        drawer:false,

        //icons to be displaced in drawer
        items: [

            { title: 'Dashboard', icon: 'dashboard',href:'/student' },
            { title: 'Surveys', icon: 'book',href:'/student/surveys' },
            { title: 'Metric', icon: 'book', href: '/student/metric'}

           ],
        logout_href: "#",

        right: null,

        url:'static/staff_profile.jpg'

    },

    mounted() {
  		axios.get(
  			'/api/user/'+ sessionStorage.user,
  			{headers: {
  				'Authorization': 'Bearer ' + sessionStorage.token,
  			}}
  		)
  		.then((response) => {
        for (var i = 0; i < response.data.sID.length; i++) {
          app.toLoad.push(response.data.sID[i]);
          console.log(app.toLoad);
        }
        for (var i = 0; i < app.toLoad.length; i++) {
          // add if statement here to filter for surveys which are not avaliable to staff.
          axios.get(
            '/api/survey/'+ app.toLoad[i],
            {headers: {
      				'Authorization': 'Bearer ' + sessionStorage.token,
      			}}
          )
          .then((response) => {
            //CHANGE THIS LTAER
            if (response.data.status === 2) {
              app.surveys.push(response.data);
           }
          })
        }
  		})

  	},
    methods: {
        funcLogout: function (event) {
           sessionStorage.removeItem('token');
           sessionStorage.removeItem('user');
           axios.get(
               '/logout',
           )
          .then((response) => {
             window.location.href = response.data;
         })
        }
     },



  })


</script>
</body>
