body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #088478;
    color: #FFFFFF;
}
.navbar-default {
   color: #FFFFFF;
   background-color: #17A589;
}
.navbar-default .navbar-brand {
   color: #FFFFFF;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
   color: #FFFFFF;
}
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: #148F77;
}
.btn-primary {
   background-color: #17A589;
   border: 1px solid #17A589;
}
.btn-primary:hover {
    background-color: #17A589; /* Green */
    color: white;
    border: 1px solid #17A589;
}
div.container {
    padding-top: 50px;
}
div.container .question {
    padding-top: 20px;
}
div.container .survey {
    padding-top: 20px;
}
div.container .welcome {
    padding-top: 20px;
    text-align: center;
}
/*div.link {*/
    /*background-color: #5C5C5C;*/
    /*border: 2px solid #17A589;*/
/*}*/
