{% extends "bootstrap/base.html" %}
{% block head %}
{{ super() }}
    <link rel=stylesheet type=text/css href={{ url_for('static', filename='style.css') }} />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
    <script src={{ url_for('static', filename='popup.js') }}></script>
{% endblock %}
{% block navbar %}
	<div class="navbar navbar-default navbar-fixed-top">
	    <div class="container-fluid">
	      <div class="navbar-header">
	         <a class = "navbar-brand">T09B-Something</a>
	      </div>
			<ul class = "nav navbar-nav">
	         <li class = "active">
	            <a href = "/admin">Home</a>
	         </li>
				<li>
	            <a href = "/admin/questions">Question Pool</a>
	         </li>
				<li>
	            <a href = "/admin/surveys">Surveys</a>
	         </li>
	      </ul>
			<ul class ="nav navbar-nav navbar-right">
				<li>
	            <a href = "/login">Sign out</a>
	         </li>
			</ul>
	   </div>
	</div>
{% endblock %}
