{% extends "baselogin.html" %}

{% block title %}Question Pool{% endblock %}


{% block content %}
<div class = "container">
<h2> Question Pool </h2>

<div>
    {% if ques_pool %}
    <table class = "table" data-link="row">
        <tr>
            <th>Question ID</th>
            <th>Question Name</th>
        </tr>
        {% for d in ques_pool %}
        <tr>
            <td><form action="/admin/questions/view" method="post">
                <button type="submit" name="question_id" value={{ d['ques_ID'] }}>{{d['ques_ID']}}</button>
            </form>
            </td>
            <td>{{ d['quest'] }}</td>
            <!-- <td>
                <form action="/admin/questions/edit" method="post">
                    <button type="submit" name="question_id" value={{ d['ques_ID'] }}>Edit</button>
                </form>
                <form action="/admin/questions/delete" method="post">
                    <button type="submit" name="question_id" value={{ d['ques_ID'] }}>Delete</button>
                </form>
            </td> -->
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>currently nothing to show</p>
    {% endif %}
</div>
<div>
    <form action="/admin/questions/create">
        <button type="submit" class="btn btn-primary">Create Question</button>
    </form>
</div>
</div>

{% endblock %}
