{% extends "baselogin.html" %}

{% block title %}Survey List{% endblock %}

{% block content %}


<div class = "container" >
   <h2> Survey List </h2>
    {% if surv_list %}
    <table class = "table">
        <tr>
            <th>Survey ID</th>
            <th>Survey Name</th>
            <th>Course ID</th>
        </tr>
        {% for d in surv_list %}
        <tr>
            <td><form action="/admin/surveys/view" method="post">
                <button type="submit" name="survey_id" value={{ d['surv_ID'] }}>{{ d['surv_ID'] }}</button>
            </form></td>

            <td>{{ d['surv_name'] }}</td>
            <td>{{ d['course_ID'] }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>currently nothing to show</p>
    {% endif %}
    <div>
      <form action="/admin/surveys/create">
           <button type="submit" class="btn btn-primary">Create Survey</button>
      </form>
    </div>
</div>
{% endblock %}
