{% extends "base_admin.html" %}

{% block title %}View Question{% endblock %}

{% block content %}

<div class="container">

    <div class="container question">
    	<h2> View Question </h2>
	    <h5> ID: {{ques['ques_ID']}} </h5>
    	<h5> Name: {{ques['quest']}} </h5>
    </div>

	<div class="list-group">
        {% for choi in ques['choi_content'] %}
	    <a href="#" class="list-group-item">{{ choi }}</a>
        {% endfor %}
	</div>

	<div>
	    <form action="/admin/questions/edit" method="POST">
	        <button type="submit" class = "btn btn-primary" name="question_id" value = {{ques['ques_ID']}}>Edit</button>
	    </form>
		 <br />
		 <form action="/admin/questions/delete" method="POST">
	        <button type="submit" class = "btn btn-primary" name="question_id" value = {{ques['ques_ID']}}>Delete</button>
	    </form>
	</div>
</div>

{% endblock %}
